/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   height: @navbar-height;
   .nav-main { display: none; }
}

.blog .ribbon,
.single-post .ribbon { position: relative; }
.page .ribbon { position: absolute; }

.ribbon {
   width: @ribbon-size;
   height: @ribbon-size;
   text-align: center;
   z-index: 10;
   h1 {
      margin: 0;
      font-size: @font-size-h3;
      width:  @ribbon-size;
      height: @ribbon-size;
      line-height: @ribbon-size*0.7;
      .rotate(-45deg);
      .transform-origin(50% 50%);
   }
   &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: solid @ribbon-size/2 transparent;
      border-top-color:  @gray-lighter;
      border-left-color: @gray-lighter;
   }
}


/* ==========================================================================
   Home page
   ========================================================================== */

.home-banner {
   background: @gray-lighter;
   text-align: center;
}

.home-blocks {
   .blocks-wrapper {
      padding: 0;
      li {
         display: block;
         float: left;
         margin: @home-blocks-gutter;
         height: @home-blocks-height;
         line-height: @home-blocks-height;
         text-align: center;
         vertical-align: middle;
         background: @gray-lighter;
         a { display: block; }
         // block widths (adapted golden-ratio)
         &:nth-child(4n+1) { width: 36%; }
         &:nth-child(4n+2) { width: 60%; }
         &:nth-child(4n+3) { width: 60%; }
         &:nth-child(4n+4) { width: 36%; }
         // block grid extrem gutters
         &:nth-child(4n+1) { margin-left:  0; }
         &:nth-child(4n+2) { margin-right: 0; }
         &:nth-child(4n+3) { margin-left:  0; }
         &:nth-child(4n+4) { margin-right: 0; }
      }
   }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
   time, .entry-title { display: inline; }
   .wp-post-image { width: 100%; height: auto; }
   .entry-content { }
   footer { }
}



/* ==========================================================================
   Contact Form 7
   ========================================================================== */

.wpcf7-form {
   margin-left: @ribbon-size;
}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
   .banner .nav-main { display: block; }
}

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
