/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "fonts.less";

/* ==========================================================================
   Base
   ========================================================================== */

html {
   position: relative;
   min-height: 100%;
}

body {
   margin-bottom: @footer-height + 70px;
}

.pull-right { text-align: right; }

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   &, & .container, & .brand { height: @navbar-height; }
   background: @navbar-default-bg;
   color: @navbar-default-color;
   margin-bottom: 2em;
   .container {
      position: relative;
      background-image: url('../img/header.jpg');
      background-size: contain;
      background-repeat: no-repeat;
   }
   .brand {
      display: block;
   }
}

.ribbon {
   position: absolute;
   width: @ribbon-size;
   height: @ribbon-size;
   text-align: center;
   z-index: 10;
   margin-top: -2em;
   right: 0;
   overflow: hidden;
   h1 {
      margin: 0;
      font-size: @font-size-h3;
      width:  @ribbon-size;
      height: @ribbon-size;
      line-height: @ribbon-size*0.7;
      font-family: 'Zeyada', @font-family-base;
      color: white;
      .rotate(45deg);
      .transform-origin(50% 50%);
   }
   &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      border: solid @ribbon-size/2 transparent;
      border-top-color:  @batispace-gray;
      border-right-color: @batispace-gray;
   }
}

#header-navbar {
   position: absolute;
   right: 0;
   bottom: 0;
   .menu {
      list-style: none;
      padding: 0;
      li {
         font-size: @font-size-h3;
         float: left;
         margin-bottom: 0.2em;
         a {
            font-family: 'News Cycle', @font-family-base;
            box-sizing: border-box;
            padding: 0.2em 1.5em;
            color: white;
            text-decoration: none;
         }
         a:hover { color: @batispace-blue; }
      }
   }
}

/* ==========================================================================
   Home page
   ========================================================================== */

.home-banner {
   text-align: center;
   margin-bottom: 2.5em;
   a {
      display: block;
      background-image: url('../img/grandeur-nature.jpg');
      background-size: cover;
      background-position: 50% 50%;
      padding: 26px 0;
   }
}

.home-slider {
   display: none;
   margin-bottom: 2em;
   .carousel-inner > .item > img { width: 100%; }
}

.blocks {
   .blocks-wrapper {
      padding: 0;
      li {
         display: block;
         float: left;
         margin: @home-blocks-gutter;
         height: @home-blocks-height;
         text-align: center;
         vertical-align: middle;
         a {
            display: block;
            height: 100%;
            font-family: 'Zeyada', @font-family-base;
            font-size: 28px;
            text-transform: uppercase;
            position: relative;
            color: @batispace-gray;
            &:hover { text-decoration: none; }
            // Overlay stuff
            .overlay {
               height: 100%;
               background-image: url('../img/overlay.png');
               background-color: fade(@batispace-gray, 80%);
               background-position: center center;
               background-repeat: no-repeat;
               background-size: auto 100%;
            }
            .overlay-inner {
               display: inline;
               position: relative;
               top: @home-blocks-height / 4 - 1em;
               padding-top: 0.2em;
               border-image-source: url('../img/white-cross.png');
               border-image-width: 20px;
               border-image-outset: 6px;
            }
            .overlay-inner-content {
               display: inline;
               width: 100%;
               height: 100%;
               background: white;
               padding: 0.2em 1em 0;
            }
            .overlay, .overlay-inner {
               -webkit-transition: opacity 0.3s;
               &:hover { .opacity(0); }
            }
         }
         // Grid system and items widths
         &:nth-child(8n+1) { width: 60%; }
         &:nth-child(8n+2) { width: 38%; }
         &:nth-child(8n+3) { width: 100%; }
         &:nth-child(8n+4) { width: 38%; }
         &:nth-child(8n+5) { width: 60%; }
         &:nth-child(8n+6) { width: 32%; }
         &:nth-child(8n+7) { width: 32%; }
         &:nth-child(8n+8) { width: 32%; }
         // Fills available space with last element of the grid
         &:last-child:nth-child(8n+1),
         &:last-child:nth-child(8n+3),
         &:last-child:nth-child(8n+6) { width: 100%; }
         &:last-child:nth-child(8n+7) { width: 66%; margin-right: 0; }
         // Adjust gutters of first and last items of a row
         &:nth-child(8n+1) { margin-left:  0; }
         &:nth-child(8n+2) { margin-right: 0; }
         &:nth-child(8n+3) { margin-left:  0; margin-right: 0; }
         &:nth-child(8n+4) { margin-left:  0; }
         &:nth-child(8n+5) { margin-right: 0; }
         &:nth-child(8n+6) { margin-left: 0; }
         &:nth-child(8n+7) {  }
         &:nth-child(8n+8) { margin-right: 0; }
         // Items backgrounds
         background-size: cover;
         background-position: 50% 50%;
         &.menu-metiers         { background-image: url('../img/metiers.jpg'); }
         &.menu-marques         { background-image: url('../img/marques.jpg'); }
         &.menu-devis           { background-image: url('../img/devis.jpg'); }
         &.menu-contact         { background-image: url('../img/contact.jpg'); }
         &.menu-infos-pratiques { background-image: url('../img/infos-pratiques.jpg'); }
         &.menu-blog            { background-image: url('../img/blog.jpg'); }
         &.menu-realisations    { background-image: url('../img/realisations.jpg'); }
      }
   }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Pages
   ========================================================================== */

.page.devis {
   .main { text-align: center; }
   h2 {
      display: none;
      padding: 0.25em 4em;
      border-top: solid 1px @gray-lighter;
      border-bottom: solid 1px @gray-lighter;
   }
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
   .batispace-bullet { margin-right: 10px; }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
   header {
      margin-bottom: 15px;
      .entry-title, time { display: inline; }
      h1::before, h1::after { content: ' - '; }
   }
   .wp-post-image, .featured_video_plus {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
   }
   .entry-content, .entry-summary { margin-bottom: 30px; }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.single-realisation .hentry {
   header {
      text-align: center;
      margin: 0 0 75px 0;
      time { display: none; }
      .back {
         display: block;
         margin: -13px 0 15px 0;
         font-size: 14px;
         &::after, &::before {
            content: ' - ';
         }
      }
   }
   .wp-post-image { margin-bottom: 25px; }
}

/* ==========================================================================
   Blog
   ========================================================================== */

.blog .hentry {
   .entry-title {
      a { color: black; }
      a:hover {
         color: @batispace-blue;
         text-decoration: none;
      }
   }
}

/* ==========================================================================
   Contact Form 7
   ========================================================================== */

.wpcf7 { margin: 0 @ribbon-size; }
.wpcf7-form {
   display: inline-block;
   margin: 0 auto;
   text-align: center;
}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: @footer-height;
   background: @batispace-gray;
   padding-top: 25px;
   margin-top: 70px;
   a {
      color: white;
      .transition(color 0.2s);
      &:hover {
         text-decoration: none;
         color: @batispace-blue;
      }
   }
   .menu {
      list-style: none;
      padding: 0;
   }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
   .page.devis h2 { display: inline-block; }
   .home-slider { display: block; }
}

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
